.loading-block {
  min-height: 100px !important;
  margin: 14px !important;

  .dimmer {
    background: #b33086 !important;
  }
}

.graphql-cms {
  padding: 14px !important;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;

  label {
    color: black !important;
  }

  .file-form {
    margin: 0 0 14px 0;
    padding: 0;

    .file-form-btn {
      margin: 0 !important;
      color: white !important;

      i {
        color: white !important;
      }
    }

    .file-name {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .github {
    padding: 5px !important;
    .button {
      text-align: center !important;
      color: white !important;
      padding: 5px !important;
      width: 100% !important;
      i {
        margin: 0 5px 0 0 !important;
        padding: 0 !important;
        width: 10px !important;
        color: white !important;
      }
    }
  }

  [type='file'] {
    display: none;
  }

  [type='checkbox'] {
    margin-top: 3px !important;
  }

  .message {
    position: fixed;
    z-index: 1;
    width: 250px;
    text-align: center;
    top: 16px;
    left: calc(50vw - 125px);
    transition: all 0.3s;
  }

  #ms-success {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
  }

  #ms-error {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
  }

  textarea {
    height: 185px !important;
  }

  .table {
    border: none !important;
  }

  .button {
    background: #b33086 !important;

    &:hover,
    &:focus {
      background: #be4f98 !important;
    }
  }

  .loading-block {
    min-height: 100px !important;
    margin: 0 !important;

    .dimmer {
      background: #b33086 !important;
    }
  }

  .icon {
    color: #fff !important;
  }

  .ui.inverted.pointing.menu .active.item:after {
    background-color: #be4f98 !important;
  }

  .loading-block {
    height: 100% !important;
    min-height: 100px !important;
  }

  .SideMenuWrapper {
    margin: 0 !important;
    padding: 0 !important;

    .SideMenu {
      background: #b33086 !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    .mobile-nav {
      text-align: center !important;
    }
  }

  .View {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 2px solid #b33086 !important;

    .selection {
      margin-bottom: 14px !important;
    }

    .selector-add {
      display: inline-block;
      float: right;
      margin: 0 0 5px 10px !important;
      padding: 2px !important;
      color: white !important;

      i {
        color: white !important;
      }
    }

    .nestedFields {
      margin: 0 !important;
      padding: 0 !important;

      .nested-title {
        color: black;
      }

      .divider {
        text-transform: none !important;
      }
    }

    .form {
      margin: 0 !important;
    }

    .btn-row {
      text-align: right;
      margin: 0;
      padding: 14px;

      .button {
        padding: 11px !important;
      }
    }

    .List {
      th {
        color: #b33086 !important;
      }

      tr {
        td:first-child {
          width: 20px !important;
        }

        td:last-child {
          padding: 0 !important;
          width: 139px !important;
        }

        .action-btn {
          padding: 10px !important;
          margin: 5px !important;
        }
      }

      .add-btn {
        height: 40px !important;
        padding: 11px !important;
        margin: 0 !important;
      }
    }
  }
}

.graphql-cms_modal {
  padding: 0 !important;
  height: auto !important;
  position: relative !important;

  .content {
    margin: 0 !important;
    padding: 14px !important;
  }

  .content:before {
    display: none !important;
  }

  .selection {
    margin-bottom: 14px !important;
  }

  .selector-add {
    display: inline-block;
    float: right;
    margin: 0 0 5px 10px !important;
    padding: 2px !important;
    color: white !important;

    i {
      color: white !important;
    }
  }

  .btn-row {
    text-align: right;
    width: 78px !important;
    margin: 0 !important;
    padding: 0 !important;
    float: right;

    .button {
      padding: 3px 14px !important;
    }
  }

  .button {
    display: inline-block;
    margin: 5px !important;
    padding: 2px !important;
  }

  .nestedFields {
    margin: 0 !important;
    padding: 0 !important;

    .nested-title {
      color: black;
    }

    .divider {
      text-transform: none !important;
    }
  }

  .form {
    margin: 0 !important;
  }
}
.markmirror {
  height: fit-content;
}
.markmirror--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9;
}
